body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background: transparent;
  flex-wrap: wrap;
  /* height: 20vh; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white !important;
  z-index: 100;
}

header .logo {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.nav-ul li {
  list-style: none;
  margin-left: 20px;
}

.nav-ul li a {
  text-decoration: none !important;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  font-size: 17px;
}

.nav-ul li a:hover {
  background: white;
  color: black;
}
.lio {
  font-size: 20px;
  color: red;
  margin-bottom: 10px;
}
#first {
  background-color: #07192f !important;
  display: flex;
  height: 100vh;
  min-height: 500px;
}

.first-container {
  margin: auto 0 auto 80px;
}

.social-icons {
  margin: auto 40 auto auto;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.social-icons i {
  margin-bottom: 20px;
  background-color: white;
  padding: 7px;
  border-radius: 50%;
  color: black;
}

.first-container p {
  color: white;
  font-size: 25px;
}

.first-container h1 {
  color: white;

  font-size: 75px;
}

.first-container span {
  color: red;
}

.typing {
  font-weight: 500;
  border: 3px solid white;
  border-radius: 5px;
  padding: 8px;
}
.checkbtn {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  float: right !important;
  line-height: 80x;
  display: none;
}

#check {
  display: none;
}
/* .hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.hamburger:focus {
  outline: none;
} */

.active {
  background-color: white;
  padding: 5px;
  color: #07192f !important;
  font-weight: 500;
}

#skills {
  padding: 10px;
}

.skills-container {
  text-align: center;
}

.skills-container h1 {
  font-size: 40px;
}
.skills-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
.skills-img {
  width: 100%;
}

.what {
  position: relative;
  color: red;
  max-width: 170px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.what:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background: #07192f;
  display: block;
  left: 0;
  top: 50%;
}
.what:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background: #07192f;
  display: block;
  right: 0;
  top: 50%;
}

.bars-container {
  align-items: center;
  justify-content: center;
  height: auto;
  width: 80%;
  margin: auto;
  padding: 20px;
  /* border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.bars-container .bars {
  margin-bottom: 15px;
}

.bars-container .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bars-container span {
  font-weight: 500;
  font-size: 18px;
}

.bars-container .line {
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
  border-radius: 15px;
}
.bars-container .html:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 90%;
  left: 0;
  top: 0;
  background: crimson;
  border-radius: 15px;
}
.bars-container .css:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 70%;
  left: 0;
  top: 0;
  background: crimson;
  border-radius: 15px;
}
.bars-container .bootstrap:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 90%;
  left: 0;
  top: 0;
  background: crimson;
  border-radius: 15px;
}
.bars-container .react:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 60%;
  left: 0;
  top: 0;
  background: crimson;
  border-radius: 15px;
}
@media screen and (max-width: 800px) {
  .checkbtn {
    display: block;
    float: right;
  }
  #check:checked ~ ul {
    left: 0;
  }
  header {
    padding: 8px 28px;
  }
  .nav-ul {
    position: fixed;
    top: 80px;
    left: -100%;
    height: 100vh;
    background-color: #07192f;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 30px 0px 0px 0px;
    transition: all 0.5s;
    justify-content: start;
  }
  .nav-ul li {
    display: block;
    margin: 0px auto 40px auto;
    line-height: 30px;
  }
  .nav-ul li a {
    font-size: 20px;
  }
  .nav-ul.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
  #first {
    flex-direction: column;
  }
  .first-container h1 {
    font-size: 49px;
  }
  .first-container {
    margin: auto 0 auto 28px;
  }
  .social-icons {
    margin: auto;
    display: block;
  }
  .social-icons i {
    margin-right: 10px;
  }
  .skills-content {
    display: block;
  }
  .skills-img {
    width: 100%;
  }
}
